<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>동적쿼리 if문 해보기</title>
</head>
<body>
	<form action="/memberList" method="post">
		<input type="checkbox" name="chId"/>Id
		<input type="checkbox" name="chPw"/>PW
		<input type="checkbox" name="chName"/>NAME
		<input type="checkbox" name="chChAddr"/>ADDR
		<hr>
<!-- 		<input type="checkbox" name="check" value="id"/>Id
		<input type="checkbox" name="check" value="pw"/>PW
		<input type="checkbox" name="check" value="name"/>NAME
		<input type="checkbox" name="check" value="addr"/>ADDR -->
		<input type="submit" value="정보 요청"/>
	</form>
</body>
</html>